In [2]:
import pandas as pd

In [18]:
df = pd.read_csv("https://cocl.us/datascience_survey_data", index_col=0)
df.head()

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136

In [19]:
df.sort_values("Very interested", ascending=False, inplace=True)
df.head()

,Very interested,Somewhat interested,Not interested
Data Analysis / Statistics,1688,444,60
Machine Learning,1629,477,74
Data Visualization,1340,734,102
Big Data (Spark / Hadoop),1332,729,127
Deep Learning,1263,770,136

In [26]:
df[["Very interested","Somewhat interested", "Not interested"]].div(2233).mul(100).round().astype(int)

,Very interested,Somewhat interested,Not interested
Data Analysis / Statistics,76,20,3
Machine Learning,73,21,3
Data Visualization,60,33,5
Big Data (Spark / Hadoop),60,33,6
Deep Learning,57,34,6
Data Journalism,19,48,27